// Colors
$primary-blue: #31549c;
$medical-green: #4c8c44;
$special-color: #d13284;
$neutral-grey: #5b5b5b;
$white: #ffffff;
$light-grey: #f4f7f6;
$dark-grey: #333333;

// Typography
$font-family: 'Inter', 'Poppins', sans-serif;

// Breakpoints
$desktop-width: 1920;
$tablet-bp: 768px;
$mobile-width: 375;
$mobile-bp: 678px;

// Spacing & Layout
$header-height: 100px;
$container-max-width: 1440px;
